body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #fff;
  color: #434455;
}
a {
  text-decoration: none;
  color: currentColor;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  margin: 0;
}
button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* ============ Header ===========*/
.header-page {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-weight: 700;
  line-height: 1.17;
  margin-right: 76px;
}
.header-logo > .logo-part {
  color: #2e2f42;
}
.nav-list {
  display: flex;
  gap: 40px;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.nav-link {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  padding: 24px 0;
  display: block;
}
/* ============ Contacts ===========*/
.header-contacts {
  font-style: normal;
  margin-left: auto;
}
.contacts-list {
  display: flex;
  gap: 40px;
}
.contacts-link {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
  line-height: 1.5;
  padding: 24px 0;
  display: block;
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
/* ============ Maim section  ===========*/
.maim-title {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}
.title {
  max-width: 496px;
  font-size: 56px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  line-height: 1.07;
  margin-bottom: 48px;
  margin-left: 331px;
}

.title-button {
  background: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border-radius: 4px;
  padding: 16px 32px;
  margin-left: 495px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
}
.title-button:hover,
.title-button:focus {
  background-color: #404bbf;
}
.title-button:active {
  background-color: #31d0aa;
}
.button-text {
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #fff;
}
/* ============ Goal section ===========*/
.goal-container {
  display: flex;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.goal-list {
  display: flex;
  gap: 24px;
}
.goal-subtitle {
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 8px;
}
.goal-text {
  max-width: 264px;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
  line-height: 1.5;
}
/* ============ Team section ===========*/
.team-container {
  display: block;
  align-items: center;
}
.section-team {
  background-color: #f4f4fd;
}
.team-title {
  font-size: 36px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  line-height: 1.11;
  margin-bottom: 72px;
  display: block;
}
.team-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.team-item {
  background-color: #fff;
  max-width: 264px;
  border-radius: 0px 0px 4px 4px;
}
.text-container {
  padding: 32px 0;
}
.team-subtitle {
  font-size: 20px;
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.team-text {
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
/* ============ Portfolio section ===========*/
.portfolio-container {
  display: block;
  align-items: center;
}
.portfolio-title {
  font-size: 36px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  line-height: 1.11;
  margin-bottom: 72px;
}

.portfolio-list {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  margin-bottom: 0;
}
.portfolio-item {
  display: block;
  width: calc((100% - 48px) / 3);
}

.container-portfolio-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-subtitle {
  font-size: 20px;
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 8px;
  padding-bottom: 32px;
}
/* ============ Footer section ===========*/
.footer-container {
  display: block;
  align-items: center;
}
.page-footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  padding-top: 100px;
  padding-bottom: 100px;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}
.logo-footer .logo-part {
  color: #f4f4fd;
}
.footer-text {
  max-width: 264px;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}
